In [21]:
path ='rpt.csv'
import pandas as pd
list1 = ['Facility','Yard Spot','Container','Size','Seal','Stat','BOL','PO','Event','Buyer','InStore Date','850 POD','dept','Type','Item','Total 850','Total 315','PO Qty','Distro Qty',' Rcvd Qty','Avail','DAD','Customs','Distro','DC','Dpo','Dest','Doc Rcvd','Ready','LOS','Alloc','Disp','Vessel','Voy','ETA Orig.','ETA','ATA','LFD','Rail Line','PickUP PIN','Cntr.ETA','Cntr.ATA','Port Departure','Return PIN','Appt.Nmbr','Appt.Date','Berth','curr Dest','Prty','Lst Prty Chngd','In Yard','Empty','Out Gate','Port in EIR','Port In','Non Con','MP','IINQ','CRD','QA','Comment','Hold Reason','Hold Start','Hold End','OBL SCAC','KGS','CBM','Devan Printed','Freight Desc','1','2','3','4','5']
data = pd.read_csv(path,names=list1,skiprows=1, dtype=str)
data = data.fillna('0')
data['Distro Qty'] = data['Distro Qty'].astype(int)
data['Dpo2'] = data['Dpo'].str.pad(width=10, side='left', fillchar='0')
data['PO2'] = data['PO'].str.pad(width=10, side='left', fillchar='0')
data['Dpo2'] = data['Dpo2'].str.replace('0000000000','dont',regex=True)
data[0:1]

,Facility,Yard Spot,Container,Size,Seal,Stat,BOL,PO,Event,Buyer,...,CBM,Devan Printed,Freight Desc,1,2,3,4,5,Dpo2,PO2
0,HUDD-RVR,0,04370599432,40SD,AIR,ON,PNH0612839,1000803297,BASIC000,BNAIFER JASAVALA,...,0.0000000000,0,12PC STUDIO PANT,0,0,0,0,0,dont,1000803297

In [22]:
data.pivot_table(index=['Container','PO2','Item','Dpo2'], values='Distro Qty')

                                                Distro Qty
Container      PO2        Item      Dpo2
04370599432    1000803297 031411065 dont                 0
AIR-WMC-0116-C 0500045378 031613987 0800170058           4
                          031613994 0800170058           4
AIR-WMC-0201   0850277834 031383079 1900370643          15
                                    8500261897          42
...                                                    ...
ZRC0041467     9600413333 030879389 dont                 0
                          030879489 dont                 0
                          030879587 dont                 0
                          030879750 dont                 0
                          030879820 dont                 0

[24604 rows x 1 columns]

In [23]:
#data['Dpo'] = data['Dpo'].astype(str)
#data['PO'] = data['PO'].astype(str)


gb = data.groupby(['Container','PO2','Dpo2','Item','Distro Qty'])
xc = gb.size()
#xc.to_excel('asd.xlsx')
xc

Container       PO2         Dpo2        Item       Distro Qty
04370599432     1000803297  dont        031411065  0             1
AIR-WMC-0116-C  0500045378  0800170058  031613987  4             1
                                        031613994  4             1
AIR-WMC-0201    0850277834  1900370643  031383079  15            1
                            8500261897  031383079  42            1
                                                                ..
ZRC0041467      9600413333  dont        030879389  0             1
                                        030879489  0             1
                                        030879587  0             1
                                        030879750  0             1
                                        030879820  0             1
Length: 24604, dtype: int64