In [2]:
path ='pv.xlsx'
import pandas as pd
import numpy as np

data = pd.read_excel(path)
data = data.fillna(' ')

unload = data['Type']=='UnLoad'
data = data[unload]
#gy = data['Shift_Name']=='Graveyard'
#data = data[gy]

data.loc[(data['Customer_Name'] != 'WMC'), 'Customer'] = data['Customer_Name']
data.loc[(data['Customer_Name'] == 'WMC') & (data['ServiceType_Code']=='GLS') & (data['Splits_Qty']*data['Units'] >=120000), 'Customer'] = 'WMC GLS DIFF'
data.loc[(data['Customer_Name'] == 'WMC') & (data['ServiceType_Code']!='GLS') & (data['Splits_Qty']*data['Units'] >=120000), 'Customer'] = 'WMC DIFF'
data.loc[(data['Customer_Name'] == 'WMC') & (data['ServiceType_Code']=='GLS') & (data['Splits_Qty']*data['Units'] <120000), 'Customer'] = 'WMC GLS'
data.loc[(data['Customer_Name'] == 'WMC') & (data['ServiceType_Code']!='GLS') & (data['Splits_Qty']*data['Units'] <120000), 'Customer'] = 'WMC'
data['COUNT'] = 1

data['Customer'] = pd.Categorical(data['Customer'], ordered=True, categories=['WMC','WMC DIFF','WMC GLS DIFF','WMC GLS','TJX','BSL','CSW','DLT','PRA','PPDC'])
data['Shift_Name'] = pd.Categorical(data['Shift_Name'], ordered=True, categories=['Graveyard','Days','Afternoons'])

pvt = data.pivot_table(index={'Shift_Name','Customer'},values={'Units','CBM','KGS','COUNT'},aggfunc=sum)

column_order = ['COUNT','Units','Splits_Qty','KGS','CBM']

table3 = pvt.reindex(column_order, axis=1)

table3

                     COUNT  Units  Splits_Qty        KGS     CBM
Shift_Name Customer
Graveyard  WMC          13  19633         NaN  125812.00  817.34
           WMC DIFF      1   4708         NaN   12437.00   50.36
           WMC GLS      10  13452         NaN  106524.16  571.13
           TJX           4   8357         NaN   31510.02  228.67
           PRA           3   2876         NaN   28769.70  168.96
Days       WMC          12   9680         NaN   84257.00  786.92
           WMC GLS      11   7338         NaN   97284.00  682.97
           TJX           8   6674         NaN   41497.05  446.92
           CSW           2    109         NaN     826.85    7.98
           PRA           2   2663         NaN   33950.00  113.19
Afternoons WMC           6   6192         NaN   73738.00  342.29
           WMC DIFF      1   5167         NaN   19309.00   59.55
           WMC GLS       7   6769         NaN   76764.00  434.05
           TJX           5   2280         NaN   22502.38  326.08
           PRA           3   1674         NaN   69440.00  143.47