In [10]:
path ='rpt.csv'
import pandas as pd
pd.set_option('display.max_rows', None)
list1 = ['Facility','Yard Spot','Container','Size','Seal','Stat','BOL','PO','Event','Buyer','InStore Date','850 POD','dept','Type','Item','Total 850','Total 315','PO Qty','Distro Qty',' Rcvd Qty','Avail','DAD','Customs','Distro','DC','Dpo','Dest','Doc Rcvd','Ready','LOS','Alloc','Disp','Vessel','Voy','ETA Orig.','ETA','ATA','LFD','Rail Line','PickUP PIN','Cntr.ETA','Cntr.ATA','Port Departure','Return PIN','Appt.Nmbr','Appt.Date','Berth','curr Dest','Prty','Lst Prty Chngd','In Yard','Empty','Out Gate','Port in EIR','Port In','Non Con','MP','IINQ','CRD','QA','Comment','Hold Reason','Hold Start','Hold End','OBL SCAC','KGS','CBM','Devan Printed','Freight Desc','1','2','3','4','5']
data = pd.read_csv(path,names=list1,skiprows=1, dtype=str)
data = data.fillna('0')
data['Distro Qty'] = data['Distro Qty'].astype(int)
data['Dpo2'] = data['Dpo'].str.pad(width=10, side='left', fillchar='0')
data['PO2'] = data['PO'].str.pad(width=10, side='left', fillchar='0')
data['Dpo2'] = data['Dpo2'].str.replace('0000000000','dont',regex=True)
#data[0:1]

In [ ]:
#data['Dpo'] = data['Dpo'].astype(str)
#data['PO'] = data['PO'].astype(str)


gb = data.groupby(['Container','PO2','Dpo2','Item','Distro Qty'])
xc = gb.size()
xc = xc.apply(str)
xc
#xc.to_csv('asd.csv')

In [17]:
#input() APHU6955626

data[data['Container'].str.contains(input(), case=False)].pivot_table(index=['Container','PO2','Item','Dpo2'], values='Distro Qty')

aphu6955

                                             Distro Qty
Container   PO2        Item      Dpo2
APHU6955626 4500959112 030255748 4050593200         279
                       030255749 4050593200           6
                                 4050593201           9