In [20]:
path ='rpt.csv'
import pandas as pd
data = pd.read_csv(path, dtype=str)

data = data.fillna('0')
data['Dpo2'] = data['Dpo'].str.pad(width=10, side='left', fillchar='0')
data['PO2'] = data['PO'].str.pad(width=10, side='left', fillchar='0')
data['Distro Qty'] = data['Distro Qty'].astype(int)

#gb = data.groupby(['Container','PO2','Dpo2','Item','Distro Qty'])
#gb.size()

In [21]:
data.pivot_table(index=['Container','PO2','Item','Dpo2'],values='Distro Qty')

                                          Distro Qty
Container PO2        Item     Dpo2
ccc1      1000803297 31411065 0000000000           0
ccc2      0500045378 31613987 0800170058           4
                     31613994 0800170058           4
ccc3      0850277834 31383079 1900370643          15
                              8500261897          42